@import "../../../scss/index.scss";

.register-form {
  text-align: left;

  .ant-form-item {
    &:nth-child(3),
    &:last-of-type {
      margin: 0;
    }
  }

  &__input {
    .ant-input-prefix {
      svg {
        font-size: 0em + 22px / $font-size;
      }
    }

    input {
      font-size: 0em + 20px / $font-size;
      padding: 10px 10px 10px 20px !important;

      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  &__button {
    width: 100% !important;
    font-size: 0em + 22px / $font-size !important;
    background-color: $primary-color !important;
    color: $font-light !important;
    height: 42px !important;

    &:hover {
      background-color: $primary-color-hover !important;
      color: $font-light !important;
    }

    &:focus,
    &:active {
      background-color: $primary-color !important;
      color: $font-light !important;
      border: 0 !important;
    }
  }
}
